<div>
  <div>
      <mat-card class ="header" *ngIf="!head">
          <div class="Headerone">
          <b style="margin-left: 180px;"> Card Seclector. Please Select any Card to Register.</b></div>
        </mat-card>
  </div>

<div class ="firstcard">
  <div>
      <mat-card class="front">
          <p><b>&nbsp;Price :</b>&nbsp;$ 49<u>&nbsp;&nbsp;per Month</u>
            <br><br>
            <b style="color:crimson;"><u>Basic Service</u></b>
            <br>
            <br>
            --> Basic Services Provided
            <br>
            --> You can add only add Title and Description only. 
            <br>
            <br>
            <button mat-button color="accent" class="buttonfirst" (click)="basic()">{{button}}</button>          
            
          </p>
        </mat-card>
  </div>

<div>
    <mat-card class="front" style="margin-left: 33px;">
        <p><b>&nbsp;Price :</b>&nbsp;$ 99<u>&nbsp;&nbsp;per Month</u>
        <br><br>
        <b style="color:crimson;"><u>Advacnced Service</u></b>
        <br>
        <br>
        --> Advanced Services Provided
        <br>
        --> You can use full features associated with the Advanced Service option. 
        <br>    
        <button mat-button color="accent" class="buttonfirst" (click)="advance()">{{button1}}</button>       
        </p>
    </mat-card>
</div>

</div>

  <div class ="secondcard">
    <div>
        <mat-card class="back">
          </mat-card>      
    </div>
    <div>
        <mat-card class="back">
          </mat-card>
    </div>
  </div>
</div>