<div fxLayout="row">
    <div matTooltip="Reminder">
      <img src="../../../assets/reminder.svg">
    </div>
    <div  matTooltip="Collaborator">
        <img src="../../../assets/collaborator.svg">
    </div>
    <div  matTooltip="Colorplate">
        <img src="../../../assets/colorplate.svg">   
    </div>
    <div  matTooltip="Image">
        <img src="../../../assets/image.svg">
    </div>
    <div  matTooltip="Archive">
        <img src="../../../assets/archive.svg">
    </div>
    <div  matTooltip="More">
        <img src="../../../assets/more.svg">
    </div>
  </div>
  