img{
    color: #202124;
    opacity: .71;
    height: 22px;
    width: 22px;
    padding-right: 15px;
    cursor: pointer;
}

@media screen and (max-width : 600px){
    img{
        height: 15px;
        width: 15px;
        padding-right: 10px;
        cursor: pointer;
    }
}
.menuebut
{
    font-size: 13px;
}
color
{
    height: 40px;
}
.color{
    width:30px;height:30px;border-radius: 50%;margin:1%;
}