.image
{
    height: 35px;
}

.details
{
    cursor: pointer;
}
.statistics
{
    cursor: pointer;
}
.signout
{
    cursor: pointer;
}
.table 
{
   width: 100%;
}
.usertable
{
    display: flex;
    justify-content: center;
}
.userStatistic
{
    display: flex;
    justify-content: center;
}