<div>
    <h2 style="text-align: center;">Foresty Management</h2>
    <br>
    <h4 style="text-align: center;">List of All the Operations</h4>
    <div class="container"  > 
        <mat-card fxLayout="row" fxLayoutAlign="space-around center">
            <button mat-button (click)="addnewclient()">Add Client</button>
            <button mat-button (click)="getallclient()">Show Client</button>
            <button mat-button (click)="getallcontractor()">Show Contractor</button>
            <button mat-button (click)="getallCustomers()">Show Customers</button>
            <button mat-button (click)="getallLand()">Show Land</button>
            <button mat-button (click)="Home()">Home</button>
        </mat-card>
    </div>
</div>