<!-- <div>
    <div>
        <mat-card>
            <mat-form-field appearance="outline">
                <mat-label>Enter Name</mat-label>
                <input matInput placeholder="Enter Name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password">
            </mat-form-field>
           
        </mat-card>
    </div>
</div> -->
<div> 
    <div>
        <mat-card class="matcardone" fxLayout="row wrap" > 
            <form>
                <h2 style="color: firebrick; align-items: center;"> Admin Login</h2>
                <div class="input">
                    <label>UserName</label>
                    <input type="text">
                </div>
                <div class="input">
                    <label>Password</label>
                    <input type="password">
                </div>
                <div class="input">
                    <input type="submit" value="LOGIN" (click)=home()>
                </div>
            </form>
        </mat-card>
    </div>
</div>