<div style="margin-top : 20px;">
  <mat-card class="container">
    <form [formGroup]='loginUser'>
      <div style="display: flex; justify-content: center;
      /* align-items: center; */
      font-size: 27px;
      margin-top: -27px;">
        <p style="color: blue;">F</p>
        <p style="color: red;">U</p>
        <p style="color:orange;">N</p>
        <p style="color: blue;">D</p>
        <p style="color : green">O</p>
        <p style="color: red;">O</p>
        &nbsp;&nbsp;
        <p style="color: blue;">L</p>
        <p style="color: red;">O</p>
        <p style="color:orange;">G</p>
        <p style="color: blue;">I</p>
        <p style="color : green">N</p>
      </div>
      <h3 class="heading3" style="align-items: center; margin-left: 4em;">Login to Your Fundoo Account</h3>

       <div class="ForEmail"> 
        <mat-form-field appearance="outline" class="matfield">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Email" required formControlName="email">
          <mat-error *ngIf="loginUser.get('email').hasError('required')">
            Enter Email.
          </mat-error>
          <mat-error *ngIf="loginUser.get('email').hasError('email')">
            Enter Valid Email.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="forpassword">
        <mat-form-field appearance="outline" class="matfield">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" required formControlName="password">
          <mat-error *ngIf="loginUser.get('password').hasError('required')">
            Enter Password min 6 character.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <div>
          <button class="button" type="submit" style="vertical-align:middle" (click)="onSubmit()">LOGIN</button>
        </div>
        <br>
        <br>
        <button class="loginBtn loginBtn--facebook" (click)="onFacebook()">
          Login with Facebook
        </button>
        <div>
          <button class="loginBtn loginBtn--google"(click)="onGoogle()">
            Login with Google
          </button>
        </div>
      </div> 
    </form>
  </mat-card>
</div>